<div>
  <h3>Debts List</h3>
  <ul *ngFor="let debt of debts" class="list-group">
    <li class="list-group-item list-group-item-action" (click)="onSelect(debt)" [class.active]="debt === selectedDebt">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{debt.name}}</h5>
        <small>
          {{debt.type}} $ {{debt.amount}}
          <button class="btn" (click)="onDelete(debt)"><i class="material-icons">delete</i></button>
        </small>
      </div>
    </li>
  </ul>
</div>
